*   {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;    

}


body {
    background-color: #b8c7cc;
    margin:2em;
}

main {
    background-color: white;
    width: auto;
    margin: auto;
    padding: 3em;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2em;
  color: rgb(46, 0, 88);
}

h2 {
  font-size: 1.5em;
  color: rgb(18, 129, 129)
}

ol {
    list-style: decimal;
    margin: auto;
    
    
}

li {
    color:blue;
    font-family:Georgia, serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 2em; 
    
}

li.curto {
    color: rgb(39, 104, 48);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:400;
    font-size: 18px;
    line-height: 1em;
    
}

a {
  text-decoration:none;  
  border: 1px solid rgb(64, 116, 57);
  border-radius: 8px;
  padding: 4px;
  background-color: rgb(176, 238, 77);
}

a:hover {
    color:rgb(228, 91, 159);
    cursor:pointer;
}

#detl {
  color:rgb(17, 51, 21); 
  font-weight: 600;
  margin-bottom: 2em;
 
  

}

#det2 {
    color:rgb(175, 132, 66); 
    font-weight: 500;
    margin-bottom: 1em;
   
    
  
  }